[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
rich = "*"
aiohttp = "*"
prisma = "*"
flask = "*"
requests = "*"
numpy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
